<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Conversation Ideas</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet" />
    <!-- Include any needed CSS files below. -->
    <link href="/css/ConversationIdeas.css" rel="stylesheet" />
</head>

<body class="background">

    <!-- Top bar displaying the profile's picture and name, and the return home button. -->
    <nav class="home-bar navbar navbar-custom navbar-fixed-top">
        <a href="{{HomeLink}}">
            <img class="home navbar-right" src="{{HomeButton}}" />
        </a>
    </nav>

    <div>

        <form action="action_page.php">

            <text for="fname" class="header">Try asking your significant other: </label>
                <input type="text" id="fname" name="question" value="What is your definition of a perfect date? " readonly/>
                <!-- <input type="submit" value="Can I see another?"> -->

                <!-- <button onclick="question()" class="button"> Can I see another? </button> -->
                <!-- <input type="button" class="button" value="Input Button"> -->
                <button id="another-btn" type="button" calss="button" align="center">Can I see another?</button>

            </form>
        </div>
        


    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/ConversationIdeasListener.js"></script>
</body>
</html>