<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Conversation Ideas</title>
    <link href=" /css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet" />
    <!-- Include any needed CSS files below. -->
    <link href="/css/ConversationIdeas.css" rel="stylesheet" />
</head>

<body class="background">

     <nav class="navbar navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbar-color" href="#">{{AspectName}}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" color="black">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" class="navbar-color">Dashboard</a></li>
                    <li><a href="#" class="navbar-color">Settings</a></li>
                    <li><a href="#" class="navbar-color">Profile</a></li>
                    <li><a href="#" class="navbar-color">Help</a></li>
                </ul>
                <a href="{{HomeLink}}">
                    <img class="home-button navbar-right" src="{{HomeButton}}" />
                </a>
            </div>
        </div>
    </nav>

<div>
  <form action="action_page.php">
    
    <label for="fname">Try askig your significant other: </label>
    <input type="text" id="fname" name="firstname">
    
    </select>
  
    <!-- <input type="submit" value="Okay!"> -->
    <!-- <input type="submit" value="No thanks, can i see another?"> -->

<a href="#" class="button">No thanks, can i see another?</a>
<button class="button">Okay!</button>
<!-- <input type="button" class="button" value="Input Button"> -->

  </form>
</div>

</body>
</html>