<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google-site-verification" content="0LdpJynj4Z081svj2ZZfqO_6awMahcfAWNb-b_Ajef4" />
    <title>Relationship Profile</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Include any needed CSS files below. -->
    <link href="/css/RelationshipProfile.css" rel="stylesheet" />
</head>

<body>
    <!-- Top bar displaying the profile's picture and name, and the return home button. -->
    <nav class="home-bar navbar navbar-custom navbar-fixed-top">
        <a href="/Home">
            <img class="home navbar-right" src="images/HomeSymbol.png" />
        </a>
    </nav>

    <!-- Profile sidebar. -->
    <nav id="sidebar-container">
        <ul class="sidebar-nav">
            <!-- Toggle button for the sidebar. -->
            <a id="menu-toggle" href="#" class="btn btn-dark pull-right menu-inactive">
                <i class="toggle-right fa fa-bars"></i>
            </a>
            <li class="sidebar-brand">
                <a href="#">Menu</a>
            </li>
            <li>
                <a id="info" class="disabled" href="#"></a>
            </li>
            <li>
                <a id="likes" class="disabled" href="#"></a>
            </li>
            <li>
                <a id="dislikes" class="disabled" href="#"></a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 main">
                <h3 id="profile-title" class="page-header name-text"></h3>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Information</th>
                                <th>Data</th>
                            </tr>
                        </thead>
                        <tbody id="profile-body">
                            {{#each Detail.TableBodyRows}}
                            <tr class="edit-text">
                                <td class="subcategory">{{Subcategory}}</td>
                                <td class="subcategory-data">{{SubcategoryInfo}}</td>
                                <td class="delete-active"><a></a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <a id="edit-button">Edit Information</a>
        </div>
        <div class="row">
            <a id="save-button">Save Information</a>
        </div>
    </div>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87455402-2', 'auto');
  ga('send', 'pageview');
  ga('send','event','HomeButton','click');
  <!-- jQuery and Javascript script files below. -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/RelationshipProfileListener.js"></script>
</body>

</html>