<!DOCTYPE html>

<html lang="en">
<head>
    <title>Relationship Profile</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet" />
    <!-- Include any needed CSS files below. -->
    <link href="/css/RelationshipProfile.css" rel="stylesheet" />
    <link href="/css/dashboard.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="navbar navbar-nav navbar-left">
                    <li><img class="img-responsive img-circle" src="{{ProfileImage}}" /></li>
                    <li><p>{{ProfileName}}</p></li>
                </ul>
            </div>
            <div class="navbar-right">
                <img class="img-responsive home-button center-block" src="{{HomeButton}}" />
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">Basic Info</a></li>
                    <li><a href="#">Likes</a></li>
                    <li><a href="#">Dislikes</a></li>
                    <li><ul>
                        <li><a href="#">Add</a></li>
                        <li><button>Hello</button></li>
                    </ul></li>
                </ul>
            </div>
            <div class="col-xs-9 main app-background">
            </div> 
        </div>
    </div>
    <!-- jQuery and Javascript script files below. -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>