<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Relationship Profile</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet" />
    <!-- Include any needed CSS files below. -->
    <link href="/css/RelationshipProfile.css" rel="stylesheet" />
</head>

<body>
    <!-- Top bar displaying the profile's picture and name, and the return home button. -->
    <nav class="navbar navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <label class="navbar-color navbar-aspect"></label>
            </div>
            <div id="navbar" class="navbar-collapse collapse" color="black">
                <a href="">
                    <img class="home-button navbar-right" src="" />
                </a>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="add"><a>Add Category</a></li>
                    <li class="remove"><a>Remove Category</a></li>
                    <li class="category active">
                        <a href="/RelationshipProfile/Personal">Personal Info</a></li>
                    <li class="category">
                        <a href="/RelationshipProfile/Likes">Likes</a></li>
                    <li class="category last">
                        <a href="/RelationshipProfile/Dislikes">Dislikes</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header name-text"></h1>
                <h2 class="sub-header"></h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery and Javascript script files below. -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/RelationshipProfileListener.js"></script>
</body>

</html>