<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Switch Profile</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet" />
    <!-- Include any needed CSS files below. -->
    <link href="/css/SwitchProfile.css" rel="stylesheet" />
</head>

<body class="background">
    <!-- Top bar displaying the profile's picture and name, and the return home button. -->
    <nav class="navbar navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbar-color" href="#">{{AspectName}}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" color="black">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" class="navbar-color">Dashboard</a></li>
                    <li><a href="#" class="navbar-color">Settings</a></li>
                    <li><a href="#" class="navbar-color">Profile</a></li>
                    <li><a href="#" class="navbar-color">Help</a></li>
                </ul>
                <a href="{{HomeLink}}">
                    <img class="home-button navbar-right" src="{{HomeButton}}" />
                </a>
            </div>
        </div>
    </nav>

    <!-- jQuery and Javascript script files below. -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/SwitchProfileListener.js"></script>
</body>
</html>