<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google-site-verification" content="0LdpJynj4Z081svj2ZZfqO_6awMahcfAWNb-b_Ajef4" />
    <title>Switch Profile</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Include any needed CSS files below. -->
    <link href="/css/SwitchProfile.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-custom navbar-fixed-top">
        <nav class="home-bar navbar navbar-custom navbar-fixed-top">
            <a href="{{HomeLink}}">
                <img class="home navbar-right" src="{{HomeButton}}" />
            </a>
        </nav>
    </nav>

    <!-- Holds the user profiles to select from. -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3 class="page-header name-text">User Profiles</h3>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Users</th>
                            </tr>
                        </thead>
                        <tbody id="profile-body">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="add-btn" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <button id="add-user-btn" type="button" class="btn btn-primary">
                    Add User
                </button>
            </div>
            <div id="delete-btn" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <button id="delete-user-btn" type="button" class="btn btn-primary">
                    Delete Users
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label id="detail-label" for="comment">Track New User - Enter Name</label>
                <textarea class="form-control" rows="1" id="comment"></textarea>
            </div>
        </div>
    </div>

    <!-- jQuery and Javascript script files below. -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/SwitchProfileListener.js"></script>
</body>
</html>